doxdb-core/src/main/resources/META-INF/xsd/dox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://doxdb.trajano.net/schema/"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://doxdb.trajano.net/schema/"
	jxb:version="1.0" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<element name="dox-persistence">
		<complexType>
			<sequence>
				<element type="tns:DoxType" name="dox" minOccurs="1"
					maxOccurs="unbounded">
				</element>
			</sequence>
		</complexType>
	</element>
	<complexType name="DoxType">
		<sequence>
			<element name="schema" type="tns:SchemaType" minOccurs="0"
				maxOccurs="unbounded"></element>

		</sequence>
		<attribute name="name" type="NMTOKEN" use="required"></attribute>
		<attribute name="size" type="positiveInteger" default="1073741824"></attribute>
		<attribute name="oob" type="boolean" default="false">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Indicates whther OOB tables should be created.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="oobSize" type="positiveInteger" default="2147483647">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Size of an OOB in bytes. Defaults to 2GB. Ignored if
							oob is false.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="collection-access-control-class" type="NMTOKEN">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Class name that deals with access controls for the
							collection.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="SchemaType">
		<annotation>
			<appinfo>
				<jxb:class>
					<jxb:javadoc>A schema definition.
					</jxb:javadoc>
				</jxb:class>
			</appinfo>
		</annotation>
		<sequence>
			<element name="oob" type="token" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="version" type="positiveInteger" use="required"></attribute>
		<attribute name="uri" type="anyURI" use="required"></attribute>
		<attribute name="access-control-class" type="NMTOKEN">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Class name that deals with access controls for a
							specific record.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="migrator-class" type="NMTOKEN"></attribute>
		<attribute name="indexer-class" type="NMTOKEN"></attribute>
		<attribute name="eventhandler-class" type="NMTOKEN"></attribute>
	</complexType>
</schema>