doxdb-core/src/main/resources/META-INF/xsd/dox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://doxdb.trajano.net/schema/"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://doxdb.trajano.net/schema/"
	jxb:version="2.0" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<element name="dox-persistence">
		<complexType>
			<sequence>
				<element type="tns:DoxType" name="dox" minOccurs="1"
					maxOccurs="unbounded" />
			</sequence>
		</complexType>
		<unique name="uniqueAuthor">
			<selector xpath="dox" />
			<field xpath="@name" />
		</unique>
	</element>
	<simpleType name="JndiNameType">
		<restriction base="token">
			<minLength value="1" />
			<pattern value="(java:)?([\w][\w\./]+\w|\w)" />
		</restriction>
	</simpleType>
	<complexType name="DoxType">
		<sequence>
			<element name="schema" type="tns:SchemaType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="NMTOKEN" use="required" />
		<attribute name="size" type="positiveInteger" default="1073741824">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Size of the content in bytes. Defaults to 1GB.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="oob" type="boolean" default="false">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Indicates whther OOB tables should be created.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="oobSize" type="positiveInteger" default="2147483647">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Size of an OOB in bytes. Defaults to 2GB. Ignored if
							oob is false.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="collection-access-control" type="tns:JndiNameType">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>JNDI name that points to the access control provider
							EJB for the collection. It should implement
							net.trajano.doxdb.CollectionAccessControl.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="SchemaType">
		<annotation>
			<appinfo>
				<jxb:class>
					<jxb:javadoc>A schema definition.
					</jxb:javadoc>
				</jxb:class>
			</appinfo>
		</annotation>
		<sequence>
			<element name="oob" type="token" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="version" type="positiveInteger" use="required">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>Specifies the version identifier for the schema.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="uri" type="anyURI" use="required" />
		<attribute name="access-control" type="tns:JndiNameType">
			<annotation>
				<appinfo>
					<jxb:property>
						<jxb:javadoc>JNDI name that points to the access control provider
							EJB for the Dox. It should implement
							net.trajano.doxdb.DoxAccessControl.
						</jxb:javadoc>
					</jxb:property>
				</appinfo>
			</annotation>
		</attribute>
		<attribute name="migrator" type="tns:JndiNameType" />
		<attribute name="indexer" type="tns:JndiNameType" />
		<attribute name="eventhandler" type="tns:JndiNameType" />
	</complexType>
</schema>
